canvas
{
	padding-left: 0;
	padding-right: 0;
	margin-left: 600px;
	margin-top: 80px;
	display: block;
	width: 650px;
	height:  600px;
	border: 2px solid #000000;
	border-radius: 3px;
	position: center;
	top: 15px;
	right: 15px;
	background-color: #b59baa 
}

#set
{
	font-family: 'Lato', sans-serif;
	border: 1px solid #000000;
	float: contour;
	padding: 10px;
	top: 15px;
	left: 15px;
	position: absolute;
	border-radius: 5px;
	margin-left: 190px;
	margin-top: 85px;
}

#green
{
	background-color: #008000;
	border: none;
	padding: 5px 7px 5px 7px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
	border-radius: 1px;
	width: 75px;
	cursor: pointer;

}
#black
{
	background-color: #000000;
	border: none;
	padding: 5px 7px 5px 7px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
	border-radius: 1px;
	width: 75px;
	cursor: pointer;
	margin-right: 10px;
}

#a,#b{
	background-color: #000000;
	border: none;
	padding: 5px 7px 5px 7px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
	border-radius: 1px;
	width: 100px;
	cursor: pointer;
	margin-top: 10px;
	border-radius: 10px;
}


#blue
{
	background-color: #0000ff;
	border: none;
	padding: 5px 7px 5px 7px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
	border-radius: 1px;
	width: 75px;
	cursor: pointer;
	margin-top: 10px;
	
}
#a,#b{
	margin-left: 75px;
	width: 180px;
}
#a:hover{
	background: #916e6e;
}
#b:hover{
	background: #916e6e;
}
#blue:hover{
	background: #3d80d4;
}
#red:hover{
	background: #c33f3f;
}
#green:hover{
	background: #4b981b;
}
#black:hover{
	background: #2d302d;
}

#red
{
	background-color: #f30000;
	border: none;
	padding: 5px 7px 5px 7px;
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: #ffffff;
	width: 75px;
	cursor: pointer;
}

table
{
	margin-left: 15px;
	margin-top: 15px;
	padding-top: 10px;
}

td
{
	padding: 5px;
	color: aliceblue;
}
h1,h2{
	color: #ffffff;
	position: sticky;
}
html.add
{
	cursor: crosshair;
}
